/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2022, 17:25:05
    Author     : Guillem Ventura
*/

html , body , section{
    height: 100%;
    overflow: hidden;

}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}

div[class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"]{
    background-color: #00628B !important;
    padding-bottom: 100% !important;
}
div[class="container-fluid h-custom"]{

    background-color: #f8f8ff;

}

/*Register*/

.container{
    top: 1rem;
    position: fixed;
    display:none;
}

.centered-form{
    margin-top: 60px;
    text-align: center;
}

.centered-form .panel{

    background: rgba(255, 255, 255, 1);
    box-shadow: rgb(0 0 0 / 40%) 0px 0px 10px 9999px;
    width: max-content;
}


.panel-title input[type="button"]{
    float:right;
}

.red-input {
    border: 1px solid red;
}

#containerForgot{
    top: 27%;    
    display:none;
}

#containerRegister {    
    display:none;
}

/*Media*/


@media screen and (min-width: 0px) and (max-width:449px){
    html , body , section{
        height: 98%;
        overflow: visible;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #81A594;
    border-right: 8px solid #81A594;
    border-bottom: 8px solid #81A594;
    border-left:8px solid transparent;

    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#lopdgddd {
    position: fixed;
    padding: 10px 0 20px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    background-color: #fdffde;
    display: none; /* default hide div */
}
#lopdgddd .buttons { clear:both; padding: 5px 0; }
#lopdgddd .buttons a { padding: 10px; text-decoration: none; }
#lopdgddd .btn-accept { background: #219234; color: #fff;  }
#lopdgddd .btn-denied { background: #E1306C; color: #fff;  }
#lopdgddd .btn-conf { background: #4783a7; color: #fff; }
#lopdgddd .btn-info { background: #219234; color: #fff; }
